body {
  text-align: center;
  background-color: #16c79a;
}

h1 {
  font-size: 4rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #b088f9;

}

footer {
  font-size: 2rem;
  color: #DBEDF3;
  font-family: sans-serif;
}

.c {
background-image: url("images/cat.png");
}

.d {
background-image: url("images/duck.png");
}

.g{
background-image: url("images/goat.png");
}

.h {
background-image: url("images/horse.png");
}

.l {
background-image: url("images/lion.png");
}

.m {
  background-image: url("images/monkey.png");
}

.r {
background-image: url("images/rouster.png");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 3rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 700;
  color: #DA0463;
  text-shadow: 3px 0 #e7d9ea;
  border-radius: 15px;
  display: inline-block;
  width: 160px;
  height: 160px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
